@import "tailwindcss";

body {

  background:
    linear-gradient(
      135deg,
      #050816,
      #091540,
      #101b4d
    );

  min-height: 100vh;

  color: white;

  overflow-x: hidden;
}

* {

  box-sizing: border-box;
}